.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.task_column {
  width: 33.33%;
  margin: 20px;
}

.tag {
  font-size: 14px;
  font-wight: 500;
  background-color: #f9f9f9;
  border: 1px solid dfe3e6;
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 10px;
  cursor: pointer;
}
